body {
    margin: auto;
    width: 70%;
}

.modal-title, h2 {
    font-weight: bold;
}

.lbl {
    margin-top: 15px;
}

.modal-dialog {
    margin-top: 45px;
}

input.form-control.input-sm {
	width: 260px;
}

#clinicas {
    height: 127px;
}

label.error {
    display: block;
}

.buttons {
    margin: 10px 20px 20px 0px;
}

.controls > .error {
    color: #b94a48;
    display: inline-block;
    *display: inline;
    padding-left: 5px;
    vertical-align: middle;
    *zoom: 1;
}

.container  {
    width: 650px;
    margin: auto;
}
